:root {
  --main-gray: #272a31;
  --main-red: #ec5242;
  --main-light-gray: #d3d3d3;
}

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'lato', sans-serif;

  /* background-color: var(--main-light-gray); */
}

button {
  background-color: red;
}

h1 {
  color:
    repeating-linear-gradient( /* idem for gazon outside */
    var(--main-red),
    var(--main-red) 6%,
    var(--main-light-gray) 6%,
    var(--main-gray) 9%
  );
  color: var(--main-red);
}

h1,
h2,
h3 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: medium;
}

p {
  font-size: small;
}

hr {
  width: 100px;
  border-top: 1px solid var(--main-red);
  margin-left: 0;
}

.full-width hr {
  border-top: 1px solid var(--main-red);
  margin-left: 0;
}

.bold {
  font-weight: 600;
}

.my-bg-light {
  background-color: var(--main-light-gray);
}

.my-bg-gray {
  background-color: var(--main-gray);
  color: var(--main-light-gray);
}

.my-bg-red {
  background-color: var(--main-red);
}

.my-text-red {
  color: var(--main-red);
  font-weight: 200;
}

/*
  GENERAL
*/
.space {
  padding: 0 1%;
}

.display-desktop {
  visibility: hidden;
}

/*
  Navbar
*/

.navbar-light .navbar-toggler-icon:active {
  background-image: url(../img/close.svg);
}

.navbar-toggler-icon-active {
  background-image: url(../img/close.svg);
}

#logo {
  width: 30%;
  height: 30%;
}

.social {
  width: 100%;
  background-color: var(--main-gray);
  list-style-type: none;
  display: flex;
  justify-content: end;
}

.socials {
  color: var(--main-light-gray);
}

.navbar {
  padding: 0;
}

.navbar-nav li {
  padding: 0 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 300;
}

.nav-item {
  color: var(--main-gray);
  font-weight: 300;
}

.nav-item:active {
  color: var(--main-red);
}

.nav-item:last-child {
  border: 3px solid var(--main-red);
}

.navbar-nav .nav-link:active {
  color: var(--main-red);
}

.button:active,
.dropdown-menu:active,
.dropdown-item:active {
  border-color: #ec5242;
}

/*
  MAIN
  - Carousel
*/

#carousel-img {
  max-height: 60vh !important;
}

#carousel-img img { /* ADD INLINE */
  width: 100vw;
  max-height: 60vh;
  margin-top: 20%;
}

.carousel-caption { /* ADD INLINE */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-shadow: 1px 1px 10px #000; /* ADD A GRADIENT */
}

/*
  ABOUT
*/

#jambotronImg {
  width: 80%;
  height: 80%;
  padding: 1rem;
  border-radius: 0; /* or keep the default value */
}

.btn-lg {
  background-color: var(--main-light-gray);
  border: 1px solid var(--main-red);
}

.btn-lg:hover {
  background-color: var(--main-red);
  border: 1px solid var(--main-red);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: none;
}

.btn:not(:disabled):not(.disabled):active {
  cursor: pointer;
  border: 3px solid var(--main-red);
}

/*
  PAST ANNUAL SUMMITS
*/

#past-summits-images {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#past-summits-images img {
  width: 100%;
  height: 100%;
}

.past-summits-img-caption {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
}

.card-img-overlay {
  /* background-color: var(--main-red); */
  width: inherit;
  height: inherit;
  filter: blur(0);
}

/*
  PROGRAM
*/
.program-card {
  background-color: var(--main-gray);
}

/*
  Past summits for Page 2
*/
.myMask {
  background-color: var(--main-red);
  opacity: 50%;
  z-index: 5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*
  Speakers and participants
*/

#speaker-img-background {
  width: 100%;
  height: 100%;
  background: url(../img/icons/img-background/background.png) no-repeat;
  background-size: 10%;
}

#speakerImg {
  width: 80%;
  height: 40%;
  padding: 15% 0 10% 15%;
  margin-left: 20%;
  background: url(../img/icons/img-background/background.png) no-repeat;
  background-size: 30%;
}

.participants {
  width: 100%;
  left: 10%;
  top: 10%;
  border-bottom-left-radius: 30% solid var(--main-gray);
  background-color: var(--main-red);
}

#participants-img img {
  width: 30%;
  max-height: 5%;
}

.participants-img-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*
  Footer
*/

.footer-text {
  width: 100%;
  height: 100%;
  top: 20%;
}

@media (min-width: 768px) {
  .display-mobile {
    display: none;
    visibility: hidden;
  }

  .display-desktop {
    visibility: visible;
  }

  .speakersContainer {
    width: 100%;
  }

  


}

@media (max-width: 768px){
  /*
  #speakerImg{
    padding: 0.2rem
  };
  */
}

/*
// xs - Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// sm - Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// md - Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// xl - Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// xs - Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
